*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-area{
    /* background: #363636; */
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
h1 {
    opacity: 0.999999; /* this is key but only works in chrome*/
    font-size: clamp(1.5rem, 6vw, 10rem);
    color: #fff;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }
  h1:before {
    position: absolute;
    content: '';
    height: 100%;
    left: 3rem;
    width: 6rem;
    
    -webkit-backdrop-filter: 
      invert(1);
    backdrop-filter: 
      invert(1);
  }
  .txt {
    position: relative;
    color: #efeffe;
    background-color: #080505;
  }
  
  .txt:before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: 3rem;
    width: 10rem;
    -webkit-backdrop-filter: 
      brightness(300%) 
      contrast(300%) 
      invert(1);
    backdrop-filter: 
      brightness(300%) 
      contrast(300%) 
      invert(1);
  }
  
  /* fluff */
  h1:before {
    /* not sure why skew is working here in firefox and not in the h1 */
    transform: skewX(15deg);
    animation: 4s linear 0.5s infinite alternate move;
  }
  .txt {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 0 auto; */
    padding: 1.5vmin;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    /* bottom: 200px; */
    /* left: 150px; */
    /* border-radius: 0.25em; */
    overflow: hidden;
    /* position: relative;
    bottom: 200px; */
  }
  h1 {
    font-size: clamp(2rem, 8vw, 8rem);
  }
  .txt:before {
    animation: 5s linear infinite alternate move;  
  }
  @keyframes move {
    from {
      left: -5rem;
    }
    to {
      left: calc(100% - 5rem);
    }
  }
  /* chrome only */
  @supports not (mask-image: linear-gradient(red, blue)) {
      .txt:before{
        background-color: #b8c6db;
    background-image: 
      linear-gradient(
        315deg, #b8c6db 0%, #f5f7fa 74%);
    /* -webkit-mask-image: 
      linear-gradient(
        #000,
        transparent 50%
      ),
      repeating-linear-gradient(
        90deg, 
        #000, #000 1%, 
        transparent, 0%, transparent 10%); */
    /* dont know why skew seems to make firefox cringe here but not in the h2 */
        transform: skew(15deg);
      } 
  }
  /* safari */
  @supports (-webkit-backdrop-filter: invert(1)) {
    .txt:before {
      transform: skewX(15deg);
    }
  }


.box{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    padding: 50px;
    /* border-radius: 12px; */
    /* background:  linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0)); */
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    /* border: 2px solid rgba(255,255,255,0.8); */
    border-radius: 32px;
    /* display: flex; */
    /* flex-direction: column; */
}
.item-text{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    /* justify-content: space-between; */
    /* width: 100%; */
}
.item{
    display: flex;
    /* justify-content: space-between;
    width: 100%; */
    /* align-items: flex-start; */
    /* flex-direction: row-reverse; */
    display: grid;
    grid-template-columns: 0 1fr;
    color: #fff;
    font-size: 1.6rem;
    /* padding:  10px 0px; */
    margin-top: 30px;
    /* display: flex; */
}
.item p {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100vh;
    text-align: start;
}
.btn{
    display: flex;
    /* padding: 0px; */
    margin-left: 350px;
}
.btn button{
    display: flex;
    margin-left: 4px;
    /* align-items: center; */
    padding: 0.275rem 0.45rem;
    /* border-radius: 5px; */
    /* border: 3px solid #c59d5f; */
    background: transparent;
    color: #fff;
    transition: 1s linear;
}
.third{
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    &:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
  
}
/* .btn button:hover{
    background-color: #c59d5f;
    color: #fff;
} */
.animated-button {
  background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
  padding: 1px 15px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  font-size: 5px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.animated-button1 {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.input{
    border: none;
    border-radius: 6px; 
    padding: 3px;
    background-color: hsla(210, 36%, 96%, 1);
}
.submitbtn{
    /* border-radius: 6px;  */
    padding: 10px 10px;
    /* border: 3px solid #c59d5f;
    background: transparent;
    color: #c59d5f;
    border-radius: 5px;
    transition: 1s linear; */
    /* width: 150px;
    height: 30px; */
    border: none;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    color: #c59d5f;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.submitbtn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.submitbtn:active {
  color: #000
}

.submitbtn:active:after {
  background: transparent;
}

.submitbtn:hover:before {
  opacity: 1;
}

.submitbtn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* .submitbtn:hover{
    background-color: #c59d5f;
    color: #fff;
} */
.para-alert{
    /* position: fixed;
    right: 250px; */
    visibility: hidden;
}
.modal{
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: absolute; */
    border-radius: 12px;
    width: 17em;
    height: 11em;
    left: 550px;
    top: 170px;
    z-index: 2;
    background: #191c29;
    /* width: var(--card-width); */
    /* height: var(--card-height); */
    /* padding: 3px; */
    /* position: relative; */
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
}

.hidden{
    display: none;
}
.bubbly-button{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 10px 17px;
    margin-top: 10px;
    /* margin-bottom: 60px; */
    -webkit-appearance: none;
    background-color: #ff0081;
    color: #fff;
    appearance: none;
    background-color: button-bg;
    color: button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    
    &:focus {
      outline: 0;
    }
    
    &:before, &:after{
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }
    
    &:before{
      display: none;
      top: -75%;
      background-image:  
        radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 20%, button-bg 20%, transparent 30%),
      radial-gradient(circle, button-bg 20%, transparent 20%), 
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, button-bg 15%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%);
    /* background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; */
    /* //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%; */
    }
    
    &:after{
      display: none;
      bottom: -75%;
      background-image:  
      radial-gradient(circle, button-bg 20%, transparent 20%), 
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, button-bg 15%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%),
      radial-gradient(circle, button-bg 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    /* //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; */
    }
   
    &:active{
      transform: scale(0.9);
      background-color: darken(button-bg, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
    
    &.animate{
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
  
  
  @keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  
  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

                                /* Small mobile */ 
@media screen and (max-width: 320px) {
  .box{
    margin: 0 auto;
  }
    .txt{
        font-size: 1rem;
        width: 60%;
        height: 15%;
        margin-bottom: 10px;
    }
    .para-alert{
        width: 80%;
        margin:  0 auto;
    }
    .modal{
        left: 0;
        width: 98%;
    }
    .main-area{
        width: 64vh;
        height: 114vh;
    }
    .p{
      font-size: 16px;
    }
    .item{
        /* display: grid; */
        /* grid-template-columns: 0 2fr; */
        display: flex;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: row; */
        justify-content: space-between;
        width: 45vh;
    }
    .item p{
        display: flex;
        text-align: start;
        flex-direction: column;
        width: 80%;
    }
    .btn button{
      display: flex;
    }
    .btn{
        display: flex;
        /* flex-direction: column; */
        margin: 0 auto;
        /* width: 10%; */
        /* padding: -100%; */
        /* margin-right: 10px; */
        /* width: 10%; */
        /* background-color: #b8c6db; */
    }
}   
                                /* medium mobile */
@media (min-width: 321px) and (max-width: 375px) {
    .main-area{
        /* margin: 0 auto; */
        width: 65vh;
        height: 112vh;
    }
    .btn{
        margin: 0 auto;
    }
    .item p{
        display: flex;
        width: 50%;
    }
    .item{
        display: flex;
        justify-content: space-between;
        width: 57vh;
        grid-template-columns: 1fr 1fr;
    }
    .txt{
        font-size: 1rem;
        width: 60%;
        height: 15%;
        margin-bottom: 10px;
    }
    .modal{
        left: 0;
        right: 0;
        width: 100%;
    }
    .para-alert{
        width: 80%;
        margin:  0 auto;
    }
}
                                        /* Large mobile */
@media (min-width: 376px) and (max-width: 425px) {
    .main-area{
        width: 100%;
    }
    .modal{
        left: 0;
        /* right: 10px; */
        width: 100%;
    }
    .item p {
        display: flex;
        width: 60vh;
    }
    .item{
        display: flex;
        justify-content: space-around;
        width: 55vh;
        grid-template-columns: 1fr 1fr;
    }
    .btn{
        display: flex;
        gap: 0.50rem;
        /* display: flex; */
        margin: 5px auto;
    }
    .para-alert{
        width: 80%;
        margin:  0 auto;
    }
    .txt{
        font-size: 1rem;
        margin-bottom: 10px;
        width: 60%;
        height: 15%;
    }
}    
                                        /* for Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    .main-area{
        /* margin: 0 auto; */
        width: 100%;
    }
    .modal{
        left: 0;
        /* right: 0; */
        /* margin: 0 auto; */
        width: 64%;
    }
    .item{
        display: flex;
        justify-content: space-between;
        width: 50vh;
        grid-template-columns: 1fr 1fr;
    }
    .btn{
        display: flex;
        gap: 0.5rem;
        margin: 4px auto;
    }
    .para-alert{
        width: 80%;
        margin: 0 auto;
    }
    .txt{
        font-size: 1rem;
        margin-bottom: 1px;
        width: 60%;
        height: 17%;
    }
}
                                        /* for laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    .main-area{
        width: 100%;
    }
    h1{
        /* text-align: center; */
        margin-bottom: 3px;
    }
    .item{
      display: flex;
      justify-content: center;
      width: 100px;
      grid-template-columns: 1fr 1fr;
    }
    .modal{
        /* margin: 0 auto; */
        left: 0;
        width: 100%;
    }
    .para-alert{
        width: 80%;
        margin: 0 auto;
    }
    .txt{
        font-size: 1rem;
        margin-bottom: 10px;
        width: 60%;
        height: 20%;
    }   
    /* .p{
      position: relative;
      left: 200px;
    } */
}